/* Light Button */
.btn-light {
  position: relative;
  overflow: hidden;
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px 24px;
  border-radius: 9999px;
  border: 2px solid var(--color-white);
  font-size: 16px;
  transition: color 0.3s ease;
}

.btn-light::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 120%;
  height: 120%;
  background-color: var(--color-black);
  border-radius: 50% 50% 0 0 / 20% 20% 0 0;
  transform: translateX(-10%) rotate(0deg);
  transition: top 0.3s ease-in-out;
  z-index: 0;
}

.btn-light:hover::before {
  top: -10%;
}

.btn-light span {
  position: relative;
  z-index: 1;
}

.btn-light:hover {
  color: var(--color-white);
  cursor: pointer;
}

/* Dark Button */
.btn-dark {
  position: relative;
  overflow: hidden;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 24px;
  border-radius: 9999px;
  border: 2px solid var(--color-white);
  font-size: 18px;
  transition: color 0.3s ease;
}

.btn-dark::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 120%;
  height: 120%;
  background-color: var(--color-white);
  border-radius: 50% 50% 0 0 / 20% 20% 0 0;
  transform: translateX(-10%) rotate(0deg);
  transition: top 0.3s ease-in-out;
  z-index: 0;
}

.btn-dark:hover::before {
  top: -10%;
}

.btn-dark span {
  position: relative;
  z-index: 1;
}

.btn-dark:hover {
  color: var(--color-black);
  cursor: pointer;
}